<div class="page-header"><h1>Lists</h1></div>
    <% @lists.each do |list| %>
	<div class="row">
		<div class="span1" style="text-align:center">
			<i class="icon-chevron-up"></i>
		</div>
	</div>
	<div class="row">
		<div class="span1" style="text-align:center">
			<h3><%= list.votes %></h3>
		</div>
		<div class="span11">
			<h3><%= link_to list.name, list_items_path(list) %></h3>
		</div>
      </tr>
	</div>
	<div class="row">
		<div class="span1" style="text-align:center">
			<i class="icon-chevron-down"></i>
		</div>
	</div>
    <% end %>

<br/><br/>
<%= link_to 'New', new_list_path, :class => 'btn btn-primary' %>

