<p>
  <%= @item.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', list_items_path(@list), :class => 'btn'  %>
  <%= link_to 'Edit', edit_item_path(@item), :class => 'btn' %>
  <%= link_to 'Delete', item_path(@item), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
